.value-prop {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 0rem;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
    min-height: 400px;
}

.value-prop.text-left {
    background-color: #f7f7f7;
}

.value-prop.text-right {
    background-color: #ebebeb;
}

.value-prop-content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.value-prop-content.text-left {
    flex-direction: row;
}

.value-prop-content.text-right {
    flex-direction: row-reverse;
}

.value-prop-image img {
    width: 100%;  /* Make sure the image scales according to its container */
    height: auto;
    max-width: 100%;  /* This ensures image doesn't overflow its container */
}

.value-prop-text, .value-prop-image {
    flex: 1;  /* Each takes up half the space */
    max-width: 50%;  /* Each can take up to half of the container's width */
    width: 500px;
    padding: 2rem;
    align-self: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .value-prop {
        flex-direction: column;
    }

    .value-prop.text-left,
    .value-prop.text-right {
        text-align: center;
    }

    .value-prop-content.text-left,
    .value-prop-content.text-right {
        text-align: center;
        flex-direction: column;
    }

    .value-prop-image {
        max-width: 100%;  /* Image can take up the full width on small screens */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .value-prop {
        gap: 3rem;  /* Increase gap for larger screens */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .value-prop {
        gap: 4rem;  /* Further increase gap for even larger screens */
    }
}
