.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    background-color: #282828; /* Adjust the color as per the image */
}

.navbar-logo {
    height: 80px; /* Adjust as needed */
}

.navbar-items {
    display: flex;
    gap: 2rem;
}

.navbar-items a {
    text-decoration: none;
    color: white; /* Adjust the color as per the image */
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-items a:hover {
    color: #888; /* Adjust the hover color as per the image */
}

.navbar-login {
    background-color: #444; /* Adjust the color as per the image */
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-login:hover {
    background-color: #555; /* Adjust the hover color as per the image */
}


.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Adjust the z-index as needed */
    width: 100%;
    background-color: white; /* Match your background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}